@import "tailwindcss";

:root {
  --background: #000A1C;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  background-color:hsla(218,100%,5%,1);
  background-image:
  radial-gradient(at 54% 0%, hsla(216, 100%, 50%, 0.22) 0px, transparent 50%),
  radial-gradient(at 100% 86%, hsla(216, 100%, 50%, 0.244) 0px, transparent 50%),
  radial-gradient(at 0% 65%, hsla(216, 100%, 50%, 0.102) 0px, transparent 50%);
}
.transition-class{
  transition: all 0.4s ease-in-out;
}
